BASE_URL=http://domain.zone
LOGIN_ENDPOINT=/identity/...

MAX_LOGIN_ATTEMPTS=5

# Локаторы и тексты
PAGE_TITLE_REGEX=САЙТ - Войти
EMAIL_LABEL=Электронная почта
PASSWORD_LABEL=Пароль
BUTTON_TEXT=Войти
ERROR_MESSAGE_TEXT=Учетная запись заблокирована