BASE_URL=http://domain.zone
LOGIN_ENDPOINT=/identity/...

MAX_LOGIN_ATTEMPTS=5

# Локаторы и тексты
PAGE_TITLE_REGEX=САЙТ - Войти
PAGE_TITLE_MAIN=Welcome
EMAIL_LABEL=Электронная почта
PASSWORD_LABEL=Пароль
BUTTON_TEXT=Войти
ERROR_MESSAGE_TEXT=Учетная запись заблокирована

# Данные для входа на сайт
USER_LOGIN = user123@mail.com
USER_PASSWORD = 12345678
