BASE_URL=http://domain.zone
LOGIN_ENDPOINT=/identity/...
PAGE_ENDPOINT = /page1

MAX_LOGIN_ATTEMPTS=5
TIMEOUT_ERROR_S = 60
RATE_LIMIT_ATTEMPTS = 50

# Локаторы и тексты
PAGE_TITLE_REGEX=САЙТ - Войти
PAGE_TITLE_MAIN=Welcome
PAGE_TEST_TITLE = Какая-то страница
EMAIL_LABEL=Электронная почта
PASSWORD_LABEL=Пароль
BUTTON_TEXT=Войти
BUTTON_TO_PAGE_TEST = Нажми меня
BUTTON_TEXT_TO_TEST01 = Лучше нажми меня
BUTTON_TEXT_TO_TEST02 = Нет нажми меня
ERROR_MESSAGE_TEXT=Учетная запись заблокирована

# Данные для входа на сайт
USER_LOGIN = user123@mail.com
USER_PASSWORD = 12345678
